@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.header {
    background-color: #4c4848;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    height: 40px;
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
}