@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.title {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    word-wrap: break-word;
    white-space: normal;
    max-width: 800px;
    box-sizing: border-box;
}

.title-badge {
    vertical-align: middle;
    width: 20px;
    margin: 0 5px;
}